.Settings {
  position: absolute;
  top: .5cm;
  left:25%;
  margin: 0 auto;
  width: 50%;
  min-width: 7.5cm;
  z-index: 11;
  box-shadow: 0 0 20px #aaa;
}

@media (max-width: 992px) {
  .Settings {
    left: 10%;
    width: 75%;
  }
}

html[dir="ltr"] .Settings__close {
  float:right;
}

html[dir="rtl"] .Settings__close {
  float:right;
}


.Session__offlineTag {
  display: inline-block;
  padding: 15px 15px;
}
