.navbar-brand > img {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.Settings {
  position: absolute;
  top: .5cm;
  left:25%;
  margin: 0 auto;
  width: 50%;
  min-width: 7.5cm;
  z-index: 11;
  box-shadow: 0 0 20px #aaa;
}

@media (max-width: 992px) {
  .Settings {
    left: 10%;
    width: 75%;
  }
}

html[dir="ltr"] .Settings__close {
  float:right;
}

html[dir="rtl"] .Settings__close {
  float:right;
}


.Session__offlineTag {
  position:absolute;
  bottom: 0.05cm;
  left: 0.8cm;
  cursor: pointer;
}

.Session__offlineTag .popover {
  top: 100%;
  left: -100%;
  width: 10cm;
  max-width: 10cm;/*override*/
  opacity: 0;/*override, for good measure...*/
  transition: opacity 0.3s linear;/*override*/
}
.Session__offlineTag .popover.in {
  display: block;
  opacity: 1;
}
.Session__offlineTag .popover .arrow {
  left: .55cm;
}
